@import "../assets/common";

* {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
.container {
    background-size: cover;
    display: flex;
    flex-flow: column;
    height: 100vh;
    .srm-header {
        text-align: center;
    }
    .crm-wrapper {
        display: flex;
        border-top: 1px solid silver;
        height: 100%;
        overflow: hidden;

        app-details {
            width: 100%;
            box-shadow: -1px 0 15px;
        }
    }
}
