.deck-of-cards {
    .card {
        margin-top: 3px;
    }
}

.card {
    display: flex;
    position : relative;
    width: 55px;
    height: 80px;
    background: white;
    border: 1px solid black;
    user-select: none;
    .name {
        padding: 0 2px;
        margin: 0;
    }
    .clubs, .diamonds, .hearts, .spades {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .clubs {
        content: url("../../assets/pictures/clubs.png");
    }
    .diamonds {
        content: url("../../assets/pictures/diamonds.png");
    }
    .hearts {
        content: url("../../assets/pictures/hearts.png");
    }
    .spades {
        content: url("../../assets/pictures/spades.png");
    }
}
