$gray: #EEEEEE;
$dark-gray: #c6c4c4;
$orange: #FF9966;
$red: #E52B50;
$darkred: #9C2542;
$text: #212121;
$blue: #1e90ff;
$white: white;

h3 {
    margin-top: 0;
}
h4 {
    padding: 10px 0 10px 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.red-btn-background {
    background: $red;
    &:hover {
        background: linear-gradient(darken($red, 8%), lighten($red, 2%));
    }
}
.blue-btn-background {
    background: $blue;
    &:hover {
        background: linear-gradient(darken($blue, 8%), lighten($blue, 2%));
    }
}
.blue-input-background {
    background: rgba(84, 170, 255, 0.5);
}
.red-input-background {
    background: rgba(237, 78, 109, 0.5);
}
